body {
    background-color: black;
}

.gameArea {
    
    
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
}

.scoreArea {
    font-family: impact;
    color: yellow;
}

.scoreLabel {
   font-size: 30px;
   position: absolute;
   left: 15%;
   top: 10%;
}

.scorePoints {
    position: absolute;
    font-size: 30px;
    left: 27%;
    top: 10%;
}

#cnv {
    border: 2px solid blue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#imgSnake {
    visibility: hidden;
}